#formQuestions {
  color: rgb(28, 92, 137);
  background-color: blue;
  text-align: center;
}

.nextButton {
  color: rgb(15, 14, 14);
}

#resetButton {
  color:brown;
}

#question1 {
  color: rgb(176, 58, 77);
}

#question2 {
  color: rgb(241, 142, 228);
}

#question3 {
  color: rgb(255, 183, 198);
}

#question4 {
  color: rgb(120, 118, 236);
}

#question5 {
  color: rgb(208, 51, 79);
}

#result{
  background-color: blueviolet;
}

.hidden {
  display: none;
  background-color: aqua;
}

.question {
  color:red;
}