#formQuestions {
  color: rgb(28, 92, 137);
  background-color: blue;
  text-align: center;
}

.nextButton {
  color: rgb(173, 173, 173);
}

#question1 {
  color: rgb(176, 58, 77);
}

#question2 {
  color: pink;
}

#question3 {
  color: rgb(85, 76, 78);
}

#question4 {
  color: rgb(242, 212, 217);
}

#question5 {
  color: rgb(136, 39, 57);
}

.result{
  display: none;
  background-color: blueviolet;
}

.hidden {
  display: none;
  background-color: aqua;
}

.question {
  color:red;
}